
<!DOCTYPE html>

<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->

{% extends 'base.html' %}

{% block content%}

<!-- TODO: Make an HTML form containing a search box and a submit button to add
   the search term to the query string -->
   <form action ="/">
    <div class="search_box" >
    <p>
        Search for a Gif
   </p>
        <input type="text" name="search" placeholder="Search.."/>
        <button type="submit">Submit</button>
    </div>
   </form>



<!--object.results.media.url -->


<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<div class="gifs_grid">
{% for gif in gif_list %}
<!-- TODO: For each gif, include the 'gif.html' template to display it -->
{% include 'gif.html' %}
{% endfor %}

</div>
{% endblock %}
