<!-- templates/index.html -->
<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block container %} 
<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->
    <form action='/'>
        <p>
            What type of Gifs would you like to find?
            <input type="text" name="name"/>
        </p>

        <button type="submit">Submit</button>
    </form>

<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->



'''
<!--
<div class='results'>
	{% for url, dims in gif_urls %}
		<img src='{{ url }}', width='{{ dims[0] }}', height='{{ dims[1] }}'>
	{% endfor %}
''' -->

<!-- ##  https://alligator.io/css/align-justify/ for sorting out grids later
## https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Box_Alignment_in_CSS_Grid_Layout -->


<!-- TODO: For each gif, include the 'gif.html' template to display it -->
<div class="tenor-gif-embed" data-postid="{{ gif.id }}" data-share-method="host" data-width="500px"
    data-aspect-ratio="1.2266666666666666">
    <a href="{{ gif.itemurl }}"></a>
    <a href="{{ gif.url }}"></a>
</div>


{% endblock %}
